body {
    background-color: #90ee90;
}

.product_container {
    margin: 0px auto;
    width: fit-content;
    display: flex;
    margin-top: 9%;
}

.product_details {
    width: 600px;
    height: 600px;
    background-color: white;
    display: flex;
}

.product_image {
    width: 300px;
    height: 500px;
    background-color: black;
    /* position: absolute;
    left: 10%;
    top: 50px;
    */
    position: relative;
    left: 27%;
    bottom: 10%;
    margin-top: 5%;
}

.detail_first {
    flex: 0.45;
    /* background-color: blue; */
}

.detail_second {
    flex: 0.55;
    /* background-color: aqua; */
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.code_text {
    font-size: 12px;
    opacity: 0.3;
}

.cost_text {
    color: red;
    font-size: 20px;
}

.price_text {
    font-size: 80px;
}

.color_img:hover {
    border: 1px solid black;
    border-radius: 5px;
    transform: scale(0.9);
    cursor: pointer;
}

li {
    font-size: 13px;
}

.add_to_cart {
    background-color: indianred;
    color: white;
    padding: 20px 35px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 25px -5px gray;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
}

.product_image {
    border: none;
    border-radius: 10px;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 25px -5px gray;
}

.list_of_apples {
    background-color: white;
    height: 130px;
    padding: 20px;
}

.list_of_apples :hover {
    border: 1px solid black;
    border-radius: 5px;
    transform: scale(0.9);
    cursor: pointer;
}

.apple_img {
    background: radial-gradient(#F5F5F5 30%, greenyellow 70%);
}

i:hover {
    cursor: pointer;
}